<p id="notice"><%= notice %></p>

<p>
  <strong>Support type:</strong>
  <%= @mihygge_support.support_type %>
</p>

<p>
  <strong>Description:</strong>
  <%= @mihygge_support.description %>
</p>

<p>
  <strong>File 1:</strong>
  <%= @mihygge_support.file_1 %>
</p>

<p>
  <strong>User:</strong>
  <%= @mihygge_support.user_id %>
</p>

<p>
  <strong>Email:</strong>
  <%= @mihygge_support.email %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @mihygge_support.phone_number %>
</p>

<p>
  <strong>First name:</strong>
  <%= @mihygge_support.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @mihygge_support.last_name %>
</p>

<p>
  <strong>Support number:</strong>
  <%= @mihygge_support.support_number %>
</p>

<p>
  <strong>Is provider:</strong>
  <%= @mihygge_support.is_provider %>
</p>

<p>
  <strong>Provider:</strong>
  <%= @mihygge_support.provider_id %>
</p>

<%= link_to 'Edit', edit_mihygge_support_path(@mihygge_support) %> |
<%= link_to 'Back', mihygge_supports_path %>
