<%= form_with(model: service_type, local: true) do |form| %>
  <% if service_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(service_type.errors.count, "error") %> prohibited this service_type from being saved:</h2>

      <ul>
      <% service_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
    <%= form.select :name,  %i[homeshare senior_living all_care_types] %>
  </div>

  

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
