<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @room.name %>
</p>

<p>
  <strong>Room type:</strong>
  <%= @room.room_type %>
</p>

<p>
  <strong>Bathroom type:</strong>
  <%= @room.bathroom_type %>
</p>

<p>
  <strong>Price:</strong>
  <%= @room.price %>
</p>

<p>
  <strong>Available from:</strong>
  <%= @room.available_from %>
</p>

<p>
  <strong>Available to:</strong>
  <%= @room.available_to %>
</p>

<p>
  <strong>Price desc:</strong>
  <%= @room.price_desc %>
</p>

<p>
  <strong>Care:</strong>
  <%= @room.care_id %>
</p>

<p>
  <strong>Beds count:</strong>
  <%= @room.beds_count %>
</p>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
