<%= form_with(model: bed, local: true) do |form| %>
  <% if bed.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bed.errors.count, "error") %> prohibited this bed from being saved:</h2>

      <ul>
      <% bed.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :bed_number %>
    <%= form.text_field :bed_number %>
  </div>

  <div class="field">
    <%= form.label :bed_type %>
    <%= form.number_field :bed_type %>
  </div>

  <div class="field">
    <%= form.label :room_id %>
    <%= form.text_field :room_id %>
  </div>

  <div class="field">
    <%= form.label :service_id %>
    <%= form.number_field :service_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
