%p#notice= notice

%p
  %b Name:
  = @testimonial.name
%p
  %b Description:
  = @testimonial.description
%p
  %b Publish:
  = @testimonial.publish
%p
  %b Testimonial type:
  = @testimonial.testimonial_type
%p
  %b Location:
  = @testimonial.location
%p
  %b Gender:
  = @testimonial.gender

= link_to 'Edit', edit_testimonial_path(@testimonial)
\|
= link_to 'Back', testimonials_path
