!!!
%html.h-100
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title MiHyggeBe
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body.d-flex.flex-column.h-100
    = render 'layouts/navigation'
    
    %main.flex-shrink-0{role: 'main'}
      .container
        = render "shared/flash"
        = yield

    %footer.footer.mt-auto.py-3
      .container
        %span.text-muted All Rights Reserved.
    
